.footer {
  background-color: $grayColor;
  display: flex;
  flex-direction: column;
  font-family: 'TT Lakes', sans-serif;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  color: $purpleBlue;
  opacity: 0.72;
  padding-left: 16px;
  padding-right: 16px;
  .footer--developers {
    margin-top: 16px;
    
  .footer--text {
    margin: 0;
    padding: 0;
  } 
  }
  .footer--privacy {
    margin-top: 16px;

  }
  .footer--info {
    margin-top: 16px;
    margin-bottom:19px;

  } 
    

  &>* {
    .footer--link {

   white-space: normal;
  text-decoration: none;
  font-family: 'TT Lakes', sans-serif;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  color: $purpleBlue;
  opacity: 0.72;
  } 

}
}
@media (min-width: $breakpoint_md) {
  .footer {
    flex-direction: row;
    height: 105px;
    padding-top: 32px;
    justify-content: space-between;

    .footer--developers {
      margin: 0;
        text-align: left;
    }
    .footer--privacy {
      margin: 0;
      text-align: start;
      .footer--link {
        white-space: nowrap; 
      }
      
    }
    .footer--info {
      margin: 0;
      text-align: right;
    } 
  }
 }

