.services {
  min-width: 320px;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid $turquoiseColor;
}
.services-title {
    min-width: 320px;
    height: 80px;
    background: linear-gradient(rgba(97%, 97%, 97%, 1), rgba(100%, 100%, 100%, 1));
    display: flex;
    margin: 0;
    padding: 0;
  }
.services-link {
      @extend %mediumTTLakes;
      text-decoration: none;
      font-weight: normal;
      font-style: normal;
      line-height: 24px;
      color: $purpleBlue; 
      width: 288px;
      height: 48px;
      margin: 16px;
      cursor: pointer;
    }
.services__swiper {
    position: relative;
    min-width: 0px;
    height: 495px;
    background-color: $smokyWhiteColor;  
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 0;
    .swiper-container {
      position: relative;
      height: 250px;
    }
    .swiper-wrapper {
        position: relative;
    }
    .swiper-slide {
          width: 260px !important;
          margin-right: 16px !important;
        }
      }
.services-content {
    height: 200px;
    background-color: $smokyWhiteColor; 
    margin-top: 32px;
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
}
.services-content--text {
      padding: 0;
      margin: 0;
      @extend  %regularTTLakes;
     font-size: 14px;
     line-height: 20px;   
     color:  $veryDarkBlue;
     letter-spacing: 0.2 px;
    }
.services--comercia {
        margin-top: 16px;
        width: 192px;
        height: 55px;
 }     
.services--link {
    @extend  %mediumTTLakes;
        line-height: 24px;
        font-weight: normal;
        font-style: normal;
        white-space: normal;
        text-decoration: none;
        font-size: 16px;
        letter-spacing: -0.2 px;
       vertical-align: top;
        color: $veryDarkBlue;
        font-weight: bold;
        position: relative;
        cursor: pointer;
        &::before {
          position: absolute;
          content: "";
          left: 120px;
          top: 30px;
          background-image: url('../img/serviceLink.svg');
         background-repeat: no-repeat;
         width: 10px;
         height: 10px;
        }
  } 
.services-table {
    display: none 
 }
 .services-slide {
  height: 200px; 
  background: $whiteColor;
  border-radius: 6px; 
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  padding-bottom: 16px;
 }
.services-slide--title {
    @extend %mediumTTLakes;
    font-size: 14px;
    line-height: 16px;
    vertical-align: top;
    color: $purpleBlue;
    height: 16px;
    opacity: 72.18%;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    margin-top: 16px;
    margin-left: 16px;
    padding: 0;
                }
.services-slide--text {
    @extend %regularTTLakes;
    color: $veryDarkBlue;
    line-height: 18px;
    vertical-align: top;
    margin: 0;
    margin-top: 4px;
    margin-left: 16px;
    padding: 0;
  }  
.order {
    position: absolute;
    right: 16px;
    bottom: 16px;
    width: 119px;
    height: 32px;
    background-image: url(../img/order.svg);
    padding: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    flex-shrink: 0;
    cursor: pointer;
  }            


@media (min-width: $breakpoint_md) {
.services {
  margin: 0;
  background-color: $smokyWhiteColor;
} 
.services-title {
    margin: 0;
    }
.services-link {
      margin: 24px;
    }
.services__swiper {
      height: 530px;
      margin-top: 24px;
      margin-right: 16px;
      margin-left: 16px;
      padding: 0; 
  .swiper-container {
      height: 324px;
      position: static;
      margin: 0;
      padding: 0;
  }
  .swiper-wrapper { 
        flex-direction: column;
        height: 324px;
        position: static;
        margin: 0;
        padding: 0;
  }
  .swiper-slide {
          width: 100% !important;
          margin: 0px !important;
          position: relative; 
          height: 64px;
      
      &::before {
            position: absolute;
            content: "";
            width: 96%;
            height: 1px;
            left: 16px;
            z-index: 1;
           background-color: $veryLightGrey;
          }
      &:first-child::before {
            background-color: transparent;
          }
        }
}
.services-slide {
            flex-direction: row;
            height: 64px;  
            position: relative;
            margin: 0;
            &>* {
              .services-slide--title {
              display: none;
              }
             .services-slide--text {
                margin-top: 23px;
                white-space: nowrap;
              } 
             .services-slide--length {
              margin-left: 5px;
              margin-right: 5px;
              margin-top: 23px;
             }
              .order {
                position: static;
                margin-right: 16px;
                margin-top: 13px;
              }
            }
          }
.services-slide--service {
            width: 420px;
            position: relative;
            margin: 0;
            
            }  

.services-slide--prise{
              width: 86px;
              position: relative;
              margin: 0;
         

            }
 .services-slide--time {
              width: 280px;
              display: flex;
              justify-content: space-between;
              position: relative;
              margin: 0;
            }         
.swiper-pagination{
        display: none;
      }
.services-content {
        width: 100%;
        margin: 0;
        margin-top: 280px;
        height: 100px;
}
.services-content--text {
          margin-top: 23px;
   
          margin-left: 16px;
          margin-right: 16px;
        }
.services--link {
              white-space: nowrap;
              width: 292px;
              height: 24px;
              margin-left: 16px;
              margin-right: 16px;
              margin-bottom: 0;
              &::before {
                left: 310px;
                top: 5px;
              }
      }
  .services-table {
    display: block;
    display: flex;
    margin: 0;
    margin-left: 16px;
    width: 100%;
    justify-content: space-between;
  }
    .table--service {
    min-width: 390px;
    font-family: 'TT Lakes', sans-serif;
    font-size: 16px;
    letter-spacing: -0.2px;
    line-height: 16px;
    color: $purpleBlue;
    height: 16px;
    opacity: 72.18%;
    font-weight: normal;
    font-style: normal;
    }
    .table--prise {
          min-width: 86px;
    font-family: 'TT Lakes', sans-serif;
    font-size: 16px;
    letter-spacing: -0.2px;
    line-height: 16px;
    color: $purpleBlue;
    height: 16px;
    opacity: 72.18%;
    font-weight: normal;
    font-style: normal;
    }
    .table--time {
    // margin-right: 240px;
    font-family: 'TT Lakes', sans-serif;
    font-size: 16px;
    letter-spacing: -0.2px;
    line-height: 16px;
    color: $purpleBlue;
    height: 16px;
    opacity: 72.18%;
    font-weight: normal;
    font-style: normal;
    min-width: 280px;
   
    } 
  }

@media (min-width: 815px) {
  .services-slide--text {
    white-space: nowrap;
  } 
}
@media (min-width: 1440px) {
    .services__swiper {
      margin-right: 32px;
      margin-left: 32px;
    }
      .services-content {
        height: 120px;
      }
    
}

